.header{
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
    position: sticky !important;
    background-color: white;
    z-index: 100;
    top:0;
    width: 100%;
}
.header__left{
    display: none;
}
.header__middle{
    display: none;
}
.header__right{
    display: flex;
    justify-content: space-around;
}
.header__dialog > .MuiDialog-container > .MuiPaper-root{
    position: absolute !important;
    top:20px !important;
}

.header__dialog > .MuiBackdrop-root{
    background-color: transparent !important;
}


.header__option--active{
    border-bottom: 3px solid #2e81f4;
}
.header__option--active > .MuiSvgIcon-root{
    color:#2e81f4 !important;
}
.header__option > .MuiSvgIcon-root{
    color:gray
}
.header__option:hover > .MuiSvgIcon-root{
    color:#2e81f4
}
.header__option{
    display: flex;
    cursor: pointer;
    align-items: center;
}
.header__option:hover{
    background-color: #eff2f5;
    border-radius: 10px;
    align-items: center;
    border-bottom: none;
}

@media only screen and (min-width: 768px) {
    .header__middle{
        display: flex;
        flex:1;
        justify-content: space-around;
    }
    .header{
        justify-content:space-between ;
    }
}
@media only screen and (min-width: 1024px) {
 .header__left{
     display: flex;
     justify-content: space-evenly;
 }
 .header__input{
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}
.header__input  > input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}
}
/*.header{
    display: flex;
    padding:15px 20px;
    justify-content:space-between ;
   
    width:fit-content;
    box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
/*}
.header__left > img{
    height:40px
}
.header__left{
  
}


  }*/